{% extends "base.html" %}
{% block content %}
<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <h3 class="text-center">Delete Movies</h3>
  <div class="cell medium-4 large-8">
    {%for o in list%}
    <li> {{o}} </li>
    {% endfor %}
  </div>
<form action="/delete/" method = "post">
    {% csrf_token %}

  {{form}}
  <input type="submit" class="alert button expanded" value="Delete" />
  <a href="/profile/" class="secondary button expanded">Finished</a>
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
</form>
{% endblock content %}
